{% extends 'posts/base.html'  %}

{% block content %}
<h1>This is the posts page</h1>

<div class="row">
    {% for post in posts %}
    <div class="col-4 mt-3">
        <div class="card">
        <div class="card-header">
            {{ post.id }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description}}</p>
            <a href="#" class="btn btn-primary">More information</a>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}